@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=TH+Sarabun+New:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'TH Sarabun New', sans-serif;
}

